nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.logo a {
    width: 408px;
    height: 42px;
    font-size: 43px;
    font-weight: bold;
    color: #FFC000;
}
.otherCatgory ul li {
    text-align: center;
    display: inline-block;
    width: 120px;
}
.otherCatgory ul li a {
    color: #FFC000; 
    
}
.catgory .home a {
    position: relative;
    color: #545454;
    padding: 39px 0;
}
.catgory .home a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #FF7E67;
}

.shop img {
    width: 26px;
    height: 30px;
}
.centerBg {
    width: 100%;
    height: 910px;
    background: url(../img/大图.png) no-repeat;
    background-size: cover;
}
.focusinfo h1 {
    width: 506px;
    margin-bottom: 37px;
    font-size: 72px;
    font-family: HiraKakuStd;
    font-weight: normal;
    color: #FFC000;
    line-height: 88px;  
}
.focusinfo {
    margin: 198px 168px;
    display: inline-block;
}
.focusinfo p {
    width: 410px;
    font-family: Myriad Pro;
    font-weight: 400;
    color: #F9E665;
    line-height: 24px;  
}
.focusinfo button {
    width: 190px;
    height: 52px;
    margin: 45px 0;
    background: #FF7E67;
    font-size: 14px;
    font-family: Nunito;
    font-weight: 600;
    color: #FFFFFF;
}
.focusinfo button:nth-child(2) {
    background: none;
    border: 3px solid #fff;
    margin-left: 32px;
}
.sectionBox {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    justify-content: center;
}
.sectionBox>div {
    width: 370px;
    color: #fff;
}
.sectionBox>div .title {
    text-align: center;
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 16px;
    font-family: HiraKakuStd;
    font-weight: normal;
    color: #FAFAFA;
}
.sectionBox>div .content {
    margin: 0 auto;
    text-align: center;
    width: 232px;
    margin-bottom: 18px;
}
.sectionBox>div:nth-child(2) .title {
    color: #545454;
}
.sectionBox>div:nth-child(1) button {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 52px;
    border: 3px solid #FFFFFF;
    background: none;
    margin-bottom: 28px;
    color: #fff;
}
.sectionBox .box1 {
    background-color: #A2D5F2;
}
.sectionBox .box2 {
    background-color: #FFE87E;
}
.sectionBox .box3 {
    background-color: #FF7E67;
}
.sectionBox .box3 h2 {
    text-align: center;
    margin-bottom: 20px;
}
.sectionBox .box2 .title {
    margin-bottom: 36px;
}
.sectionBox .box2 .content p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.sectionBox .box2 .content p span:nth-child(1) {
    color: #8F8F8F;
}
.sectionBox .box2 .content p span:nth-child(2) {
    color: #07689F;
}